$primaryColor: #4bb6e8;
$complementaryColor: complement($primaryColor);
$black: #383838;
$slate: #485658;
$gray: #e1e1e1;

$font1: 'Source Sans Pro', sans-serif;
$font2: 'Anton', sans-serif;

$screen-sm: 769px;
$screen-md: 1024px;
$screen-lg: 1216px;
$screen-xl: 1408px;
